.item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    line-height: 1em;
}

.title {
}
.line {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #999;
    margin: 0 24px;
}
.listen {
    margin-left: auto;
    cursor: pointer;
    margin-right: 8px;
    text-align: right;
}
.listen:hover {
    color: var(--theme-color);

}

.duration {
    width: 40px;
    text-align: right;
    position: relative;
}

